includes:
    - vendor/gacela-project/phpstan-extension/extension.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/

    gacela:
        modulesNamespace: App
        excludedNamespaces:
            - AppTest