includes:
    - vendor/gacela-project/phpstan-extension/extension.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Cannot cast mixed to .*.#'

    gacela:
        modulesNamespace: App
        excludedNamespaces:
            - AppTest